{{- $goprivate := promptStringOnce . "name" "GOPRIVATE" "github.com/cedws" -}}
{{- $gitemail := promptStringOnce . "email" "git email address" "38229097+cedws@users.noreply.github.com" -}}
{{- $gitname := promptStringOnce . "name" "git username" "Connor Edwards" -}}
[data]
GOPRIVATE = {{ $goprivate | quote }}

[data.git]
email = {{ $gitemail | quote }}
name = {{ $gitname | quote }}