{{- $workComputer := promptBoolOnce . "workComputer" "Is this a work computer" -}}
{{- $goprivate := promptStringOnce . "name" "What should GOPRIVATE be set to" "github.com/cedws" -}}
{{- $gitemail := promptStringOnce . "email" "What's your Git email address" "38229097+cedws@users.noreply.github.com" -}}
{{- $gitname := promptStringOnce . "name" "What's your Git username" "Connor Edwards" -}}
[data]
workComputer = {{ $workComputer }}

[data.shell.env]
GOPRIVATE = {{ $goprivate | quote }}

[data.git]
email = {{ $gitemail | quote }}
name = {{ $gitname | quote }}