if status is-interactive
    # Commands to run in interactive sessions can go here

    set fish_greeting

    if command -q mise
        mise activate fish | source
    end
    if command -q direnv
        direnv hook fish | source
    end
    if command -q brew
        if test -f (brew --prefix)/share/google-cloud-sdk/path.fish.inc
            source (brew --prefix)/share/google-cloud-sdk/path.fish.inc
        end
    end

    set -gx HOMEBREW_PREFIX "/opt/homebrew";
    set -gx HOMEBREW_CELLAR "/opt/homebrew/Cellar";
    set -gx HOMEBREW_REPOSITORY "/opt/homebrew";

    set MANPATH ''
    set -x MANPATH "/opt/homebrew/share/man:$MANPATH"
    set -x MANPATH "$HOME/.local/share/man-get:$MANPATH"
    set INFOPATH ''
    set -x INFOPATH "/opt/homebrew/share/info:$INFOPATH"

    fish_add_path /opt/homebrew/bin /opt/homebrew/sbin
    fish_add_path /opt/homebrew/opt/openjdk@11/bin;
    fish_add_path ~/.cargo/bin
    fish_add_path ~/go/bin
    fish_add_path ~/bin

    set -x VISUAL nano
    set -x EDITOR $VISUAL
    set -x K9SCONFIG ~/.config/k9s
    set -x GOPRIVATE {{ (dig "shell" "env" "GOPRIVATE" "" .) | quote }}
    set -x HOMEBREW_AUTO_UPDATE_SECS 86400

    alias rg="rg --no-ignore -F"
    alias fd="fd --no-ignore"

    alias ga="git add -p"
    alias gc="git commit"
    alias gp="git push"
    alias gs="git switch"
end
