set -x VISUAL vim
set -x EDITOR $VISUAL
set -x K9SCONFIG ~/.config/k9s
set -x GOPRIVATE {{ (dig "shell" "env" "GOPRIVATE" "" .) | quote }}
{{ if eq .chezmoi.os "darwin" -}}
set -x SSH_SK_PROVIDER "/usr/lib/ssh-keychain.dylib"
set -x HOMEBREW_AUTO_UPDATE_SECS 86400
{{- end }}
